{% extends "base.html" %}

{% block content %}

    <h1>{{ article.title }}</h1>

    <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="글삭제">
    </form> 
    <a href="{% url 'articles:edit' article.pk %}"><button>글수정</button></a>
    <a href="{% url 'articles:articles' %}"><button>목록으로</button></a>

    <div>
        <p>
            작성일시: {{ article.created_at }}
            <br>
            수정일시: {{ article.updated_at }}
        </p>
    </div>
    <hr>
    <p>{{ article.content }}</p>
    <hr>
    <a href="{% url 'articles:articles' %}"><button>목록으로</button></a>
{% endblock content %}